$color-background: #fafafa;
$color-background-common: #fff;

$color-primary: #37474f;
$color-primary-light: #62727b;
$color-primary-dark: #102027;
$color-secondary: #64b5f6;
$color-secondary-light: #9be7ff;
$color-secondary-dark: #2286c3;

$color-primary-text: #fff;
$color-secondary-text: #000;
$color-text: #000;

$color-primary-text-tip: #757575;
$color-primary-text-disabled: #e0e0e0;
