
.rv-layout {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;

	&--column { flex-direction: column; }
	&--row { flex-direction: row; }
	&--center-items { align-items: center; }

	&__flex { flex: 1 1 auto; }
	&__flex-none { flex: none; }
}
